body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Open Sans';
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.mdl-card__title {
	background-color: #2C3E50;
}

.mdl-card__title-text{
	color: #fff;
}

.mdl-textfield__input{
	width: 100%;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

header{
    background: #fff;
}

hr{
    background-color: #fff;
    color: #fff;
}

p{
    font-weight: lighter;
}

.light-Font{
     font-weight: lighter;
}

.bold-Font{
     font-weight: bold;
}

.star-primary{
    background: #fff;
    color: #fff;
}
